  <style type="text/css">code{ghostwhite-space: pre;}</style>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700,500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Khula:400,600,300,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <style>

      .marginTop {
        background: red;
      }

    .color {
      background-color: lemonchiffon;
    }

    html {
      background: ghostwhite;
    }

    body {
      margin: 0;
          overflow-x: hidden;
    }

    body, html {
      font-family: 'Montserrat', monospace;
      font-size: 15px;
      color: black;
    }

    div {
      padding: 10px;
      margin: 10px 20px;
      float: left;
      border: 2px solid  black;
      -webkit-box-shadow: 2px 2px 0px 0px black;
      -moz-box-shadow: 2px 2px 0px 0px black;
      box-shadow: 2px 2px 0px 0px black;
      background: white;
      position: initial;
    }

    .level3 {
      z-index: 1000000;
    }

    #header {
      background: gainsboro;
      position: fixed;
      width: calc(100% - 64px);
      padding: 10px;
      margin-top: 20px;
      max-width: calc(100% - 64px);
      min-width: 600px;
      z-index: 10;
    }

    #header h1 {
      float: left;
    }

    #header p {
      float: left;
      margin: 10px 0 0 0;
      width: 50%;
    }

    .level1{
      margin-top: 125px;
    }

    .level1 ~ .level1 {
      margin-top: 10px;
    }

    h1, h2, h3{
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 20px;
    }

    h2, h3 {
      font-size: 17px;
    }

    p, li, code {
      line-height: 1.5;
    }

    code {
      font-family: 'Montserrat', monospace;
      color: black;
      ghostwhite-space: initial;
      font-size: 15px;
      line-height: 1.7;
    }

    a {
      border-bottom: 2px solid black;
      padding: 1px 0px;
      color: black;
      text-decoration: none;
    }

    a:hover {
      border: 0;
      border-top: 2px solid black;
    }

    .figure a,
    .figure a:hover {
      border: 0;
    }

    .links {
      width: 25%;
      max-width: 90%;
      min-width: 300px;
      /*float: right;*/
      background: lightcyan;
      position: relative;
      right: 0;
      z-index: 10;
    }

    .links>.level2 {
      background: lightcyan;
      position: relative;
    }

    .links a {
      border: 1px solid black;
      padding: 0 3px;
      background-color: black;
      color: lightcyan;
    }

    .links a:hover::before {
      content:"→ ";
    }

    .difficulty-level {
      width: auto;
      padding: 10px;
      display: inline-block;
      margin: 5px;
      margin-left: 20px;
      float: right;
      font-weight: bold;
    }

    .difficulty-level.easy {
      border: 2px solid black;
      color: black;
      -webkit-box-shadow: 2px 2px 0px 0px black;
      -moz-box-shadow: 2px 2px 0px 0px black;
      box-shadow: 2px 2px 0px 0px black;
      background: Chartreuse ;
    }

    .difficulty-level.moderate {
      border: 2px solid black;
      color: black;
      -webkit-box-shadow: 2px 2px 0px 0px black;
      -moz-box-shadow: 2px 2px 0px 0px black;
      box-shadow: 2px 2px 0px 0px black;
      background: yellow;
    }

    .difficulty-level.expert {
      border: 2px solid black;
      color: black;
      -webkit-box-shadow: 2px 2px 0px 0px black;
      -moz-box-shadow: 2px 2px 0px 0px black;
      box-shadow: 2px 2px 0px 0px black;
      background:  red;
    }

    .expert::after {
      content: "expert";
    }

    .moderate::after {
      content: "moderate";
    }

    .easy::after {
      content: "easy";
    }

    .level1 {
      width: 45%;
      max-width: calc(100% - 64px);
      min-width: 450px;
    }

    .level2 {
      width: calc(100% - 42px);
      color: black;
      margin: 10px;
    }

    .level3{
      width: calc(100% - 42px);
      color: black;
      margin: 10px;
      border: 0;
      box-shadow: none;
      padding: 10px 0;
      margin: 0;
      margin-top: 10px;
      width: 100%;
      line-height: 1.5;
      border-top: 2px solid black;
    }


    /* DROPDOWN */

    #header ul {
      *zoom:1;
      list-style:none;
      margin: 0;
      padding: 0;
      float: right;
      background: black;
    }

    .navWrap {
      margin: 10px !important;
    }

    #header ul:before,#header ul:after {
      content:"";
      display:table;
    }

    #header ul:after {
      clear:both;
    }

    #header ul > li {
      float:left;
      position:relative;
      width: 320px;
      background: black;
    }

    #header a {
      display:block;
      padding: 10px;
      line-height:1.2em;
      background: none;
      border: 0;
      color: white;
    }

    #header a:hover {
      text-decoration:none;
    }

    #header li ul {
      background: white;  
    }

    #header li ul li {
    }

    #header li ul a {
      border: 0;
    }

    #header li ul a:hover {
    }

    #header li ul {
      position:absolute;
      left: 0;
      z-index:1;
    }

    #header li ul li {
      overflow:hidden;
      height: 0;
      -webkit-transition:height 200ms ease-in;
      -moz-transition:height 200ms ease-in;
      -o-transition:height 200ms ease-in;
      transition:height 200ms ease-in;
    }

    #header ul > li:hover ul li {
      height: 41px;
    }

    .navFirst::after {
      content:" ↓";
      font-size: 21px;
    }

    .navFirst:hover::after {
      content:"  ↑";
    }

    .navOptions a:hover::before {
      content:"→ ";
    }

    /* FOOTER */

    #footer {
      /*float: right;*/
      background: azure;
      width: 25%;
      z-index: 0;
    }

    #colofon {
      background: azure;
    }

    /* IMAGES */

    .figure {
      float: left;
      /*position: initial;*/
      padding: 0;
      margin: 0;
      background: white;
      margin-bottom: -320px;
      position: relative;
      z-index: 100;
    }

    /*.level1 .figure {
      margin-right: -35%;
      float: right;
    }

    .level2 .figure {
      margin-right: calc(-35% - 40px)
    }

    .level3 .figure {
      margin-right: calc(-35% - 81px)
    }*/

    img {
      width: 50px;
      margin: 0;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    .figure .thumbnail{
      word-break: break-all;
      padding: 10px;
      max-width: 150px;
      height: auto;
      border: 0;
      box-shadow: none;
      padding: 0;
      background: none;
    }

    .figure:hover {
      height: 300px;
      height: auto;
    }

    .figure:hover .thumbnail {
      display: none;
    }

    .figure .bigImage {
      display: none;
      cursor: zoom-in;
    }

    .figure:hover .bigImage {
      display: initial;
      height: 300px;
      width: auto;
    }

    .lightbox {
      display: none;
      position: fixed;
      z-index: 999;
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      padding: 20px;
      text-align: center;
      top: 0;
      left: 0;
      background: black;
    }

    .lightbox img {
      max-width: 90%;
      max-height: 80%;
      margin-top: 2%;
      border: 1px solid black;
    }

    .lightbox:target {
      outline: none;
      display: block;
    }

    /**/

    [id*="intro"] {
    }

    /* GRID = TABLE */

    table {
      width: 100%;
      height: 100%;
      background: ghostwhite;
      position: fixed;
      z-index: -10;
      border: 1px solid white;
    }

    td {
      border: 1px solid white;
    }

    tr:nth-child(even) td:nth-child(even)  {
     
    }

    tr:nth-child(odd) td:nth-child(2n+1)  {
    }


    /* RESIZE FEATURE */

    .ui-resizable-e {
        cursor: e-resize;
        cursor: col-resize;
        width: 5px;
        right: 0;
        top: 0;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        background: lightgray;
        box-shadow: none;
        z-index: 1 !important;
      }

      .ui-resizable-e:hover {
        background: yellow;
      }

      .ui-resizable-w {
        cursor: e-resize;
        cursor: col-resize;
        width: 5px;
        left: 0;
        top: 0;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        background: lightgray;
        box-shadow: none;
        z-index: 1 !important;
      }

      .ui-resizable-w:hover {
        background: yellow;
      }

  </style>