<style id='a'>

.videoWrap{
  border: 0px;
  -webkit-box-shadow: 0px 0px 0px 0px #545454;
  -moz-box-shadow: 0px 0px 0px 0px #545454;
  box-shadow: 0px 0px 0px 0px #545454;
  padding: 0px;
  margin: 0px;
  width: 100%;
  cursor: pointer;
}

.videoPlay{
  border: 0px;
  opacity: 0;
  position: absolute;
  -webkit-box-shadow: 0px 0px 0px 0px #545454;
  -moz-box-shadow: 0px 0px 0px 0px #545454;
  box-shadow: 0px 0px 0px 0px #545454;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  width: calc(50% - 10px);
  /*width: calc(70% - 20px);*/
  text-align: center;
  margin-top: 10px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: -moz-none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
  transition: opacity 0.5s;
  font-size: 72px;
  margin-right: -10px;

}

.figureInside{
  margin: 8px !important;
  float: none !important;
  display: inline-block;
}

.figureInside .thumbnail {
  display: inline-block;
}

.highlightThis{
  background-color: rgba(255,255,150,1) !important;
  transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out; /* FF 4 */
  -webkit-transition: background-color 0.3s ease-in-out; /* Safari & Chrome */
  -o-transition: background-color 0.3s ease-in-out; /* Opera */
}

.removeHighlightThis{
  transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out; /* FF 4 */
  -webkit-transition: background-color 0.3s ease-in-out; /* Safari & Chrome */
  -o-transition: background-color 0.3s ease-in-out; /* Opera */
}

.marginTop {
  background: red;
}

.level1:hover .ui-resizable-e,
.linkbox:hover .ui-resizable-e,
.infobox:hover .ui-resizable-e,
#header:hover .ui-resizable-e {
  background: rgba(255,255,150,1);
}

.pagetitle{
  display: none;
}

html {
  background: #E6E6E6;
}

body {
  margin: 0;
  overflow-x: hidden;
  margin-top: 125px;  
}

body, html {
  font-family: 'Roboto Condensed', monospace;
  font-size: 20px;
  color: black;
  font-weight: 300;
}

div,
blockquote {
  padding: 10px;
  margin: 10px 20px;
  width: calc(100% - 42px);
  float: left;
  border: 1px solid  black;
  -webkit-box-shadow: 2px 2px 0px 0px black;
  -moz-box-shadow: 2px 2px 0px 0px black;
  box-shadow: 2px 2px 0px 0px black;
  background: white;
  position: initial;
}

blockquote {
  margin: 20px 10px;
}

#header {
  background: lightcyan;  
  position: fixed;
  width: calc(100% - 64px);
  padding: 10px;
  max-width: calc(100% - 64px);
  min-width: 600px;
  z-index: 5;
  margin-top: -100px;
}

#header h1 {
  float: left;
}

#header p {
  float: left;
  margin: 10px 0 0 0;
  width: 50%;
}

.level1 ~ .level1 {
  margin-top: 10px;
}

h1, h2, h3{
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
  margin-bottom: -5px;
}

h3 {
  font-size: 20px;
  margin-bottom: -10px;
}

p, li, code {
  line-height: 1.5;
}

strong, b {
  font-weight: 400;
}

code {
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size: 15px;
  font-weight: 400;
  word-wrap: break-word;
}

pre {
  margin-left: 20px;
}

a {
  border-bottom: 1px solid black;
  padding: 1px 0px;
  color: black;
  text-decoration: none;
}

a:hover {
  border: 0;
  background-color: black;
  color: white;
}

.figure a,
.figure a:hover {
  border: 0;
  background: none;
}

.linkbox {
  width: calc(25%);
  max-width: calc(100% - 64px);
  min-width: calc(25% - 64px);
  background: lightcyan;
  position: relative;
  right: 0;
  /*z-index: 7;*/
}

.infobox {
  width: calc(15%);
  max-width: calc(100% - 64px);
  min-width: calc(15% - 64px);
  background: #D8F3D1;
  position: relative;
  right: 0;
  /*z-index: 7;*/
}

.infobox .level2 {
  background: #D8F3D1;
}

.linkbox>.level2 {
  background: lightcyan;
  position: relative;
}

.difficulty-level {
  width: auto;
  padding: 10px;
  display: inline-block;
  margin: 5px;
  margin-left: 20px;
  float: right;
  font-weight: 400; 
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  border: 0;
}

.difficulty-level.easy {
  color: black;
  -webkit-box-shadow: 2px 2px 0px 0px black;
  -moz-box-shadow: 2px 2px 0px 0px black;
  box-shadow: 2px 2px 0px 0px black;
}

.difficulty-level.moderate {
  color: black;
  -webkit-box-shadow: 2px 2px 0px 0px black;
  -moz-box-shadow: 2px 2px 0px 0px black;
  box-shadow: 2px 2px 0px 0px black;
}

.difficulty-level.expert {
  color: black;
  -webkit-box-shadow: 2px 2px 0px 0px black;
  -moz-box-shadow: 2px 2px 0px 0px black;
  box-shadow: 2px 2px 0px 0px black;
}

.expert::after {
  content: "expert";
}

.moderate::after {
  content: "moderate";
}

.easy::after {
  content: "easy";
}

.level1 {
  width: calc(50%);
  max-width: calc(100% - 64px);
  min-width: calc(25% - 64px);
}

.level1:hover,
.linkbox:hover,
.infobox:hover,
#header:hover {
  -webkit-animation: mymove 0.5s ease-in; /* Chrome, Safari, Opera */
  animation: mymove 0.5s ease-in;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    0% {padding-right:10px;}
    20% {padding-right:13px;}
    80% {padding-right:13px;}
    100% {padding-right: 10px;}
}

/* Standard syntax */
@keyframes mymove {
    0% {padding-right:10px;}
    20% {padding-right:13px;}
    80% {padding-right:13px;}    
    100% {padding-right: 10px;}
}

.level2 {
  width: calc(100% - 42px);
  color: black;
  margin: 10px;
}

.level3{
  width: calc(100% - 42px);
  color: black;
  border: 0;
  box-shadow: none;
  padding: 10px 0;
  margin: 0;
  margin-top: 10px;
  width: 100%;
  line-height: 1.5;
  /*border-top: 2px solid black;*/
}

/* DROPDOWN */

#header ul {
  *zoom:1;
  list-style:none;
  margin: 0;
  padding: 0;
  float: right;
  background: black;
  font-size: 20px;
}

.navWrap {
  margin: 10px !important;
}

#header ul:before,#header ul:after {
  content:"";
  display:table;
}

#header ul:after {
  clear:both;
}

#header ul > li {
  float:left;
  position:relative;
  width: 500px;
  background: black;
}

#header a {
  display:block;
  padding: 10px;
  line-height:1.2em;
  background: none;
  border: 0;
  color: white;
  font-weight: 500;
}

#header a:hover {
  text-decoration:none;
}

#header li ul {
  background: white;  
}

#header li ul li {
}

#header li ul a {
  border: 0;
}

#header li ul a:hover {
}

#header li ul {
  position:absolute;
  left: 0;
  z-index:1;
}

#header li ul li {
  overflow:hidden;
  height: 0;
  -webkit-transition:height 200ms ease-in;
  -moz-transition:height 200ms ease-in;
  -o-transition:height 200ms ease-in;
  transition:height 200ms ease-in;
}

#header ul > li:hover ul li {
  height: 41px;
}

.navFirst::after {
  content:" ↓";
  font-size: 21px;
  float: right;
}

.navFirst:hover::after {
  content:"  ↑";
}

.navOptions a:hover::before {
  content:"→ ";
}

/* IMAGES */

video {
  width: 50%;
  height: auto;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 0px 0px black;
  -moz-box-shadow: 2px 2px 0px 0px black;
  box-shadow: 2px 2px 0px 0px black;
  border: 1px solid black;
  background: transparent;
}

video:hover {
  background: transparent;
}

.figure {
  float: right;
  width: 200px;
  padding: 0;
  margin: 0;
  background: white;
  margin-bottom: -320px;
  position: relative;
  font-weight: 400; 
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  z-index: 10;
}

.level1 .figure {
    margin-right: -238px;
}

.level2 .figure {
    margin-right: -258px;
}

img {
  /*width: 50px;*/
  margin: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.figure .thumbnail{
  word-break: break-all;
  padding: 10px;
  max-width: 175px;
  height: auto;
  border: 0;
  box-shadow: none;
  padding: 0;
  background: none;
  z-index: 15;
}

.figure:hover {
  height: auto;
  width: auto;
}

.figure:hover .thumbnail {
  display: none;
}

.thumbHideTemp {
  display: none;
}

.figure .bigImage {
  display: none;
  cursor: zoom-in;
}

.figure:hover .bigImage {
  display: initial;
  height: 300px;
  width: auto;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 9999999 !important;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 5000%;
  padding-top: 5000%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  overflow: hidden;
  background: black;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
  border: 1px solid black;
}

/*.lightbox:target {
  outline: none;
  display: block;
}*/

/**/

[id*="intro"] {
}

/* RESIZE FEATURE */

.ui-resizable-e {
  cursor: e-resize;
  cursor: col-resize;
  width: 5px;
  right: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: lightgray;
  box-shadow: none;
  z-index: inherit !important;

}

.firstAfterHeader {
  margin-top: 125px !important;
}

/* toggle options */

  button {
  background: white;
  border: 1px solid black;
  -webkit-box-shadow: 2px 2px 0px 0px black;
  -moz-box-shadow: 2px 2px 0px 0px black;
  box-shadow: 2px 2px 0px 0px black;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  margin: 10px;
  float: right;
  width: 43px;
  height: 43px;
}

#toggleTheme {
  background: white;
}

#toggleMode {
  font-family: serif;
  font-style: italic;
  font-size: 20px;
}

button:hover {
  background: rgba(255,255,150,1);
}

.fullWidth .ui-resizable-e {
  display: none;
}

.fullWidth:hover {
  animation: none;
}

.fullWidth {
  width: calc(100% - 64px);
  transition: width 0.3s;
}

.initWidth {
  width: ;
  transition: width 0.3s;
}

@media only screen and (max-width : 1600px) {

  .linkbox {
    width: calc(40% - 5px);
  }

  .infobox {
    width: calc(25%);
  }

  .fullWidth {
    width: calc(100% - 64px);
    transition: width 0.3s;
  }
}

@media only screen and (max-width : 1280px) {

  .level1 {
    width: calc(55%);
  }

  .linkbox,
  .infobox {
    width: calc(30% - 5px);
  }

  .fullWidth {
    width: calc(100% - 64px);
    transition: width 0.3s;
  }

  #header ul > li {
    width: 400px;
  }

  #header ul,
  p,
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 23px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 18px;
    margin: initial;
  }

  .level1 .figure,
  .level2 .figure {
    float: none;
    margin: 0;
  margin-left: 10px;

  }

 .figure .thumbnail {
    float: initial;
 }

 .figure:hover {
    width: 70%;
 }

 .fullWidth .figure:hover {
    width: calc(50%);
 }

 .fullWidth video {
    width: 35%;
    margin-left: 32%;
 }

.figure:hover .bigImage {
  display: initial;
  width: 100%;
  height: auto;
  }

  .fullWidth video {
    margin-left: 0;
  }

}

@media only screen and (max-width: 1024px) {
  body {
    margin-top: 135px;
  }

@media only screen and (max-width: 1024px){


  .videoPlay{

    width: calc(70% - 20px);
      font-size: 32px;
  }

  .level1,
  .infobox,
  .linkbox,
  blockquote {
    width: 100%;
  }

  blockquote {
    width: calc(100% - 42px);
  }

  ul, ol {
    width: auto;
    padding: 0 15px 0 25px;
  }

  .level3 {
    margin-top: initial;
  }

  /*header*/

  #toggleMode {
    font-size: 17px;
  }

  #header {
    max-width: 100%;
    min-width: initial; 
    margin-top: -115px;
    position: absolute;
  }

  .navWrap {
    margin: 5px 0 0 0 !important;
  }

  #header ul {
    width: 100%;
  }

  #header ul > li {
    width: 100%;
  }

  #header ul {
    font-size: 15px;
  }

  #toggleWidth {
    display: none;
  }

  button {
    width: 35px;
    height: 35px;
    padding: 5px;
    margin: 0 0 10px 0;
  }

  /* fonts */

  p, body {
    font-size: 17px;
  }

  .difficulty-level {
    font-size: 13px;
    margin: 10px;
  }

  h3,
  .level3 h3 {
    font-size: 17px;
  }

  h2,
  .level2 h2 {
    font-size: 18px;
  }

  h1,
  .level1 h1 {
    font-size: 20px;
  }

  /* images + video */

  video:hover {
    background: none;
  }

  .figure {
    font-size: 13px;
    width: 200px;
  }

  .ui-resizable-e,
  .ui-resizable-handle {
    display: none !important;
  }

  .level1:hover,
  #header1:hover {
    animation: none;
  }

  .navWrap {
    float: left;
  }

  video {
    max-width: 70%;
    height: auto !important;
    width: auto !important;
  }

}

@media only screen and (max-width: 1024px) and (min-resolution: 192dpi){
  video {
    width: calc(100% - 22px);
    max-width: calc(100% - 22px);
    margin: 10px;
  }

.videoPlay{

    width: calc(100% - 22px);
    max-width: calc(100% - 22px);
    font-size: 32px;
    margin: 10px;

}

}
</style>
