<style id='b'>

html {
  background: #FAF8F4;
}

body {
  margin: 0;
  overflow-x: hidden;
  margin-top: 125px;  
}

body, html {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: #545454;
}

div {
  padding: 10px;
  padding-bottom: 0;
  margin: 10px 15px;
  position: initial;
}

.level3 {
  z-index: 1000000;
}

#header {
  border: 1px solid #545454;
  -webkit-box-shadow: 2px 2px 0px 0px #545454;
  -moz-box-shadow: 2px 2px 0px 0px #545454;
  box-shadow: 2px 2px 0px 0px #545454;
  position: fixed;
  width: calc(100% - 64px);
  padding: 10px;
  z-index: 10;
  background: #FAF8F4;
  margin-top: -100px;
}

#header h1 {
  float: left;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

#header p {
  float: left;
  margin: 10px 0 0 0;
  width: 50%;
}

.level1 h1 {
  font-size: 25px;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  -webkit-transform:scale(1,1.2); /* Safari and Chrome */
  -moz-transform:scale(1,1.2); /* Firefox */
  -ms-transform:scale(1,1.2); /* IE 9 */
  -o-transform:scale(1,1.2); /* Opera */
  transform:scale(1,1.2); /* W3C */
}

.level1 {
  margin-top: 50px;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  text-align: center;
  font-style: italic;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 17px;
  margin-bottom: -10px;
  text-decoration: underline;
}

p, li, code {
  line-height: 1.7;
}

code {
  font-family: 'Roboto Mono', monospace;
  color: gray;
  font-size: 15px;
  font-weight: 400;
  word-wrap: break-word;
}

pre {
  margin: 10px 10px 0 20px;
}

p>a,
li>a {
  border-bottom: 1px solid #545454 ;
  color: #545454 ;
  text-decoration: none;
}

p>a:hover,
li>a:hover {
  border: 0;
  background-color: #545454;
  color: white;
}

.figure a,
.figure a:hover {
  border: 0;
}

.linkbox,
.infobox,
blockquote {
  width: calc(50% - 13px);
  float: none;
  border: 1px solid #545454;
  -webkit-box-shadow: 2px 2px 0px 0px #545454;
  -moz-box-shadow: 2px 2px 0px 0px #545454;
  box-shadow: 2px 2px 0px 0px #545454;
  z-index: 7;
  margin: 20px 0;
  margin-left: calc(24% + 13px);
  padding: 25px;
  font-family: 'Libre Baskerville', serif;
}

.linkbox p,
.linkbox h1,
.linkbox h2,
.linkbox h3 {
  word-wrap: break-word;
}

.infobox {
  background: #545454;
  color: #FAF8F4;
}

.linkbox h3,
.infobox h3 {
  margin: 0;
  margin-bottom: -10px;
}

blockquote {
  line-height: 1.6;
  letter-spacing: 2px;
  font-size: 17px;
  background: #FAF8F4; 
}

blockquote p {
  width: 100% !important;
  margin: 0 !important;
}

.difficulty-level {
  width: auto;
  padding: 10px;
  display: inline-block;
  margin: 5px 5px 5px 24%;
  font-weight: 400; 
  /*font-family: 'Roboto Mono', monospace;*/
  font-size: 17px;
  letter-spacing: 1px;
}

.difficulty-level.easy {
  -webkit-box-shadow: 2px 2px 0px 0px #545454;
  -moz-box-shadow: 2px 2px 0px 0px #545454;
  box-shadow: 2px 2px 0px 0px #545454;
}

.difficulty-level.moderate {
  -webkit-box-shadow: 2px 2px 0px 0px #545454;
  -moz-box-shadow: 2px 2px 0px 0px #545454;
  box-shadow: 2px 2px 0px 0px #545454;
}

.difficulty-level.expert {
  -webkit-box-shadow: 2px 2px 0px 0px #545454;
  -moz-box-shadow: 2px 2px 0px 0px #545454;
  box-shadow: 2px 2px 0px 0px #545454;
}

.expert::after {
  content: "difficulty level: expert";
}

.moderate::after {
  content: "difficulty level: moderate";
}

.easy::after {
  content: "difficulty level: easy";
}

.level2 {
  margin: 5px -10px;
}

.level1 p,
.level1 pre,
.level1 h1,
.level1 ul,
.level2 h2,
.level3 h3 {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

/* in text lists */

.level1 ul p {
  margin: initial;
  line-height: 1.8;
}

.level1 ul li {
  margin-bottom: 10px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    0% {padding-right:10px;}
    20% {padding-right:13px;}
    80% {padding-right:13px;}
    100% {padding-right: 10px;}
}

/* Standard syntax */
@keyframes mymove {
    0% {padding-right:10px;}
    20% {padding-right:13px;}
    80% {padding-right:13px;}    
    100% {padding-right: 10px;}
}

.level3{
  padding: 0;
  margin: 0;
  margin-top: 10px;
  width: 100%;
}


/* DROPDOWN */

#header ul {
  *zoom:1;
  list-style:none;
  margin: 0;
  padding: 0;
  float: right;
  background: #545454;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.navWrap {
  margin: 10px !important;
}

#header ul:before,#header ul:after {
  content:"";
  display:table;
}

#header ul:after {
  clear:both;
}

#header ul > li {
  float:left;
  position:relative;
  width: 500px;
  background: #545454;
}

#header a {
  display:block;
  padding: 10px;
  line-height:1.2em;
  background: none;
  border: 0;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

#header a:hover {
  text-decoration:none;
}

#header li ul {
  background: #FBF5EC;  
}

#header li ul li {
}

#header li ul a {
  border: 0;
}

#header li ul a:hover {

}

#header li ul {
  position:absolute;
  left: 0;
  z-index:1;
}

#header li ul li {
  overflow:hidden;
  height: 0;
  -webkit-transition:height 200ms ease-in;
  -moz-transition:height 200ms ease-in;
  -o-transition:height 200ms ease-in;
  transition:height 200ms ease-in;
}

#header ul > li:hover ul li {
  height: 41px;
}

.navFirst::after {
  content:" ↓";
  font-size: 21px;
  float: right;
  font-family: 'Roboto Condensed', monospace;
}

.navFirst:hover::after {
  content:"  ↑";
  font-family: 'Roboto Condensed', monospace;
}

.navOptions a:hover::before {
  content:"→ ";

  font-family: 'Roboto Condensed', monospace;
}

/* FOOTER */

#footer {
  /*float: right;*/
  background: azure;
  width: 25%;
  z-index: 0;
}

#colofon {
  background: azure;
}

/* IMAGES * video */

.figure {
  padding: 0;
  margin: 10px 0;
  z-index: 5;
  /*overflow: hidden;*/
  width: 20%;
  height: 0;
}

.figureLeft {
  float: left;
  margin-right: 30px;
  margin-bottom: -20%;
}

.figureRight {
  float: right;
  margin-left: 30px;
  margin-bottom: -20%;
}

img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.figure .thumbnail{
  display: none;
}

.figure .bigImage {
  cursor: zoom-in;
  z-index: 3;
  position:relative;
    border: 1px solid #545454;
  -webkit-box-shadow: 2px 2px 0px 0px #545454;
  -moz-box-shadow: 2px 2px 0px 0px #545454;
  box-shadow: 2px 2px 0px 0px #545454;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 9999999 !important;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 5000%;
  padding-top: 5000%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  overflow: hidden;
  background: #545454;
}

.lightbox img {
  max-width: 75%;
  /*max-height: 90%;*/
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}

.lightbox:target {
  outline: none;
  display: block;
}

video {
  width: 20%;
  margin-left: 40%;
  -webkit-box-shadow: 2px 2px 0px 0px #545454;
  -moz-box-shadow: 2px 2px 0px 0px #545454;
  box-shadow: 2px 2px 0px 0px #545454;
  background: transparent url('./lib/videoposterb.svg') 50% 50% / cover no-repeat ;
}

video:hover {
  background: transparent url('./lib/videoposterb_hover.svg') 50% 50% / cover no-repeat ;

}

/**/

[id*="intro"] {
}

/* toggle options */

button {
  background: #FAF8F4;
  border: 1px solid #545454;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  margin: 10px;
  float: right;
  width: 43px;
  height: 43px;
  color: #545454;
      -webkit-box-shadow: 2px 2px 0px 0px #545454;
  -moz-box-shadow: 2px 2px 0px 0px #545454;
  box-shadow: 2px 2px 0px 0px #545454;
}

#toggleTheme {
  background: #545454;
}

#toggleMode {
  font-family: serif;
  font-style: italic;
  font-size: 20px;
}

button:hover {
  background: rgba(255,255,150,1);
}

.aActive {
  font-family: 'Roboto Mono', monospace !important;
  font-size: 17px !important;
}

/* change width */

.fullWidth {
  width: calc(100% - 64px);
  transition: width 0.3s;
}

.fullWidth .figureLeft,
.fullWidth .figureRight {
  width: 15%;
  float: none;
  margin: 5px 20px 5px 0;
}

.level1.fullWidth {
  padding: 10px;
  margin: 10px 20px;
}

.fullWidth.linkbox,
.fullWidth.infobox,
.fullWidth.level1 ul {
  margin: 15px 15px;
  padding: 0 20px 10px 20px;
  width: calc(100% - 84px);
}

.fullWidth blockquote {
  margin: 10px -15px;
  width: calc(100% - 30px);
}

.fullWidth p,
.fullWidth h1,
.fullWidth h2,
.fullWidth h3 {
  margin: 20px 0;
  text-align: left;
}

.fullWidth.level1 h1 {
  width: calc(100% - 84px);
}

.fullWidth p {
  width: inherit;
}

.fullWidth.level1 pre {
  margin: 10px 10px 0 20px;
}

.fullWidth .difficulty-level {
  margin-left: -15px;
}

.initWidth {
  width: ;
  transition: width 0.3s;
}

.fullWidth .figure {
  height: auto;
}

@media only screen and (max-width : 1600px) {

  p,
  body {
    font-size: 18px;
  }

  .linkbox,
  .infobox {
    padding: 15px;
  }

    video {
    width: 25%;
    margin-left: 37%;
  }

}

@media only screen and (max-width : 1280px) {

  #header ul > li {
    width: 400px;
  }

  p,
  body {
    font-size: 16px;
  }

  #header ul {
    font-size: 18px;
  }

  h1,
  .level1 h1 {
    font-size: 23px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 14px;
    /*margin: initial;*/
  }
/*
  .linkbox,
  .infobox {
    padding: 15px;
  }*/

  blockquote,
    .difficulty-level {
    letter-spacing: 1px;
    font-size: 15px;
  }

  video {
    width: 35%;
    margin-left: 32%;
  }

}

@media only screen and (max-width: 1024px) and (min-resolution: 192dpi) {

body,
.level1 p {
  font-size: 15px;
}

.level1 p,
.infobox,
.linkbox,
.level1 ol,
.level1 ul,
blockquote {
  width: initial;
  margin: 5px;
}

h3,
.level3 h3 {
  font-size: 15px;
}

h2,
.level2 h2 {
  /*font-size: 18px;*/
}

h1,
.level1 h1 {
  /*font-size: 201px;*/
  color:red ;
}

}

</style>
